<!doctype html>
<html>

<head>
  <base href="/">
  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="public/assets/css/app.css">
</head>

<body ng-app="auth" ng-controller="AuthController as ac">
  <div id="main">
    <div ui-view="header"></div>
    <div ui-view="content" class="content"></div>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="public/dist/auth/auth.js"></script>
</body>

</html>
